//styling for the individual cards/flex-wrapping grid
.card-list{
	list-style: none;
	color: #818181;
	font-size: 1.1rem;
}

.user{
	display: flex;
	align-items: center;
	font-size: 1rem;
}

.radius{
	border-radius: 50%;	
	margin-right: 2rem;
	border: 2px solid white;
	box-shadow: 1px 1px 10px grey;
	transition: transform .2s;

}

.name{
	color: #2D2D2D;
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
}

.city{
	margin-top: .5rem;
}

.email{
	font-size: 1.3rem;
}