
//sass variables
//varible for minimum scree size for desktop stylings to take place
$desktop: 550px;
$bgColor: #D9D9D9;
$cardColor: #F3F3F3;

//sass partial imports
@import "media-query-mixins" ;
@import "card-styling" ;
@import "card-overlay" ;

//styling for base
.grid{
	margin-left: 1rem ;
	margin-right: 1rem ;
	background-color: $bgColor;
	@include desktop {
		margin-left: 3rem;
		margin-right: 3rem; 
	}
}

.heading{
	margin-top: 0;
	display: flex;
	align-items: center;
}

.title{
	margin: 0;
	padding-right: 2rem;
}

.moto{
	font-style: italic;
	text-decoration: underline;
	font-size: 1.33rem;
	letter-spacing: .1rem;
}

.bold{
	font-weight: 900;
}

.card{
	flex: 1 1 400px;
	background-color: $cardColor ;
	display: flex;
	 justify-content: center;
	margin: .5rem;
}

.box{
	display: flex;
	flex-wrap: wrap;
}

